<!DOCTYPE html>
<html>
<head>
  <title>Drinking Buddy Manager</title>
  <script src="https://cdn.jsdelivr.net/gh/RobotWebTools/roslibjs/build/roslib.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='csharp.css') }}">
  <link id="map_target" href="{{ url_for('static', filename='map.png') }}">

</head>
<body>
  <div class="text_segment">
    <h1>Drinking Buddy</h1>
    <h2>Actions</h2>
    <button id="robotStartButton" onclick="startRobot()" class="start-button"><bold>Start</bold></button>
    <!-- <button id="robotResetButton" onclick="resetPosition()" disabled>Reset</button>
    <button id="voiceButton" onclick="startVoice()">Start Voice</button> -->
<div class="status-panel">
    <h2>System Status</h2>

    <div class="status-grid">
        <div class="status-card">
            <span class="label">Server</span>
            <span id="serverDetect" class="value">NOT FOUND</span>
        </div>

        <div class="status-card">
            <span class="label">Robot</span>
            <span id="robotDetect" class="value">NOT FOUND</span>
        </div>

        <div class="status-card">
            <span class="label">Current State</span>
            <span id="currentState" class="value">NOT FOUND</span>
        </div>

        <div class="status-card">
            <span class="label">Current Action</span>
            <span id="currentAction" class="value">NOT FOUND</span>
        </div>
    </div>
</div>
  </div>
  
  <div class="map_segment">
    <h1>Map</h1>
    <div id="navigation_map" name="navigation_map"
    class="map" 
    alt="Navigation Map" onclick="clickNavigationMap(event);" 
    draggable="false">
      <img src="{{ url_for('static', filename='red_dot.png') }}" class="render_dot" style="visibility: hidden;" draggable="false" class="noselect" id="click_dot"/>
      <img src="{{ url_for('static', filename='green_dot.png') }}" class="render_dot" style="visibility: hidden;" draggable="false" class="noselect" id="robot_dot"/>
    </div>  
    <ol id="navigation_list"></ol>
  </div>

  <script src="{{ url_for('static', filename='ui_control.js') }}"></script>
</body>
</html>

