<!DOCTYPE html>
<html>
<head>
  <title>Drinking Buddy Manager</title>
  <script src="https://cdn.jsdelivr.net/gh/RobotWebTools/roslibjs/build/roslib.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='csharp.css') }}">
  <link id="map_target" href="{{ url_for('static', filename='placeholder.jpg') }}">

</head>
<body>
  <h1>Drinking (Drinky?) Buddy (Buddies?)</h1>
  <h2>Actions</h2>
  <button id="robotStartButton" onclick="startRobot()">Start</button>
  <button id="robotResetButton" onclick="resetPosition()" disabled>Reset</button>
  <button id="voiceButton" onclick="startVoice()">Start Voice</button>
  <h2>Current Status</h2>
  <p id="serverDetect">Server: NOT FOUND</p>
  <p id="robotDetect">Robot: NOT FOUND</p>
  <p id="battery">Battery: NOT FOUND</p>
  <p id="currentAction">Current Action: NOT FOUND</p>
  <div id="currentStateList"></div>
  <h2>Map</h2>
  <div id="navigation_map" name="navigation_map"
  style="background: url('/static/placeholder.jpg'); width:100%; height:100%;" 
  alt="Navigation Map" onclick="clickNavigationMap(event);" 
  draggable="false">
    <img src="{{ url_for('static', filename='white_dot.png') }}" style="height: 14px; width: 14px; visibility: hidden;" draggable="false" class="noselect" id="click_dot"/>
  </div>  
  <ol id="navigation_list"></ol>
  <script src="{{ url_for('static', filename='ui_control.js') }}"></script>
</body>
</html>

